.sumary {
    border-left-color: #e67e22 !important;
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.field-has-success {
    color:#27ae60;
}

.field-has-error,
.field-has-error *{
    color:#d35400;
}