@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix::before,
.clearfix::after{
    content: ' ';
    display: table;
}

.clearfix::after{
   clear: both;
}

body{
    font-family: "Open Sans","Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #c8c8c8;
    background-color: #181818;
    margin: 0;
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    margin-top: 12px;
    word-break: break-all;
    word-wrap: break-word;
    color: #3a3f44;
    background-color: #f5f5f5;
    border: 1px solid #cccccc;
    border-radius: 4px;
    overflow: auto;
    white-space: pre-wrap;
}


a, a:visited {
  color: #c8c8c8;
}

.clear {
  clear: both;
}

.github-link{
    margin-left: 12px;
}

/* Navigation */

.navigation {
    float: left;
    width: 320px;
}

.navigation ul {
    margin: 12px;
    padding: 0;
    list-style-type: none;
}

.navigation__home {
   color: #fff !important;
   background-color: #111 !important;
   font-weight: 600;
}

.navigation__heading {
   color: #fff !important;
   background-color: #f96816 !important;
   font-weight: 600;
}

.navigation li {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #222;
    color: #aaa;
    border: 1px solid rgba(0, 0, 0, 0.6);
}

.navigation a,.navigation a:visited {
    display: block;
    color: #c8c8c8;
    text-decoration: none;
}

.navigation li:hover{
    text-decoration: none;
    color: #c8c8c8;
    background-color: #2b2b2b;
}

/* content */

.componentpage {
    float: left;
    width: calc(100% - 320px);
    padding: 12px;
}

.page-title {
    margin-top: 6px;
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: 500;
    color: #fff;
}

.description {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 2px;
    color: #fff;
    background-color: #f96816;
}


/* example */

.example {
    background: #222;
    margin: 12px 0;
    padding: 12px;
    border:1px solid rgba(0, 0, 0, 0.6);
}

.example h4:first-of-type {
   margin-top: 0;
}

.example p:last-of-type {
   margin-bottom: 0;
}

code {
    font-size: 11px;
}


/* table */

table {
  border-collapse:collapse;
}

table.props {
  border: 3px solid #c8c8c8;
  background: #222;
}

.props tr td:last-of-type {
  text-align: center;
}

.props th, td {
  text-align: left;
  padding: 12px;
}

td {
  border-top: solid 1px #d3d3d3;
}

td, th {
  padding: 12px;
}

.touched {
    font-style: italic;
    color: #eee;
}

html,
body,
#app {
    margin: 0;
    padding: 0;
    height: 100%;
}

.page {
    min-height: 100%;
    position: relative;
    padding-bottom: 80px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    width: 100%;
    text-align: center;
    padding: 12px;
    margin-top: 12px;
    border-top:2px solid #f96816;
}

.home {
    float: left;
    width: calc(100% - 320px);
}

.home__presentation {
    background: #222;
    margin: 12px 12px 12px 0;
    padding: 12px 24px;
}

.home__presentation h1 {
    margin: 0;
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid #7a8288;
}

@media (max-width: 750px){

    body {
        font-size: 13px;
    }
    .navigation,
    .home,
    .componentpage {
        width: 100%;
    }

    .home__presentation{
        margin-left: 12px;
    }

    blockquote {
        padding: 4px 20px;
        font-size: 15px;
    }

    .props th, td {
        text-align: left;
        padding: 6px;
    }
}