@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');
* {
    box-sizing: border-box;
}

body{
    font-family: "Open Sans","Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #c8c8c8;
    background-color: #181818;
    margin: 0;
}

a, a:visited {
  color: #c8c8c8;
}

.clear {
  clear: both;
}

.page-title {
    font-size: 24px;
    font-weight: 500;
    color: #fff;
}

.description {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 2px;
    color: #fff;
    background-color: #f96816;
}

/* Navigation */

.navigation {
  float: left;
  width: 250px;
  list-style-type: none;
  padding: 0;
  margin: 0 12px;
}

.navigation li:first-child {
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}

.navigation li {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #222;
    color: #aaa;
    border: 1px solid rgba(0, 0, 0, 0.6);
}

.navigation-heading {
   color: #fff !important;
   background-color: #f96816 !important;
   font-weight: 600;
}

.navigation a,.navigation a:visited {
    display: block;
    color: #c8c8c8;
    text-decoration: none;
}

.navigation li:hover{
    text-decoration: none;
    color: #c8c8c8;
    background-color: #2b2b2b;
}

.componentpage {
  margin-left: 275px;
  margin-right: 12px;
}

/* example */

.example {
    background: #222;
    margin: 12px 0;
    padding: 12px;
    border:1px solid rgba(0, 0, 0, 0.6);
}

.example h4:first-of-type {
   margin-top: 0;
}

.example p:last-of-type {
   margin-bottom: 0;
}

code {
    font-size: 11px;
}

/* table */

table {
  border-collapse:collapse;
}

table.props {
  border: 3px solid #c8c8c8;
  background: #222;
}

.props tr td:last-of-type {
  text-align: center;
}

.props th, td {
  text-align: left;
  padding: 12px;
}

.props th, td {
  text-align: left;
  padding: 12px;
}

td {
  border-top: solid 1px #d3d3d3;
}

td, th {
  padding: 12px;
}

.touched {
    font-style: italic;
    color: #eee;
}

.copyright{
    text-align: center;
    padding: 12px;
}